{% extends "base.html" %}
	
{% load staticfiles %}

{% block link %}
	<link rel="stylesheet" href="{% static "css/picture.css" %} ">
{% endblock link %}

{% block content %}
	<section class="fotos">
			<div class="container_fotos">
				<h1 class="titulo">Cincoletras</h1>
				<div class="container_img">
					<figure>
						<img class="fotos_banda" data-src="../static/image/CincoLetras 1/Band-1.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/CincoLetras 1/Band-10.jpg" alt="">
					</figure>
					<!--<figure>
						<img class="fotos_banda" data-src="../static/image/CincoLetras 1/Band-11.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/CincoLetras 1/Band-12.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/CincoLetras 1/Band-2.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/CincoLetras 1/Band-3.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/CincoLetras 1/Band-4.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/CincoLetras 1/Band-5.jpg" alt="">		
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/CincoLetras 1/Band-6.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/CincoLetras 1/Band-7.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/CincoLetras 1/Band-8.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/CincoLetras 1/Band-9.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/CincoLetras 1/IMG_2866.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/CincoLetras 1/IMG_2867.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/CincoLetras 1/IMG_2869.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/CincoLetras 1/IMG_2870.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/CincoLetras 1/IMG_2874.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/CincoLetras 1/IMG_2877.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/CincoLetras 1/IMG_2879.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/CincoLetras 1/IMG_2881.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/CincoLetras 1/IMG_2889.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/CincoLetras 1/portada.jpg" alt="">					
					</figure>-->
				</div>
				<h1 class="titulo">Free Stayla</h1>
				<div class="container_img">
					<figure>
						<img class="fotos_banda" data-src="../static/image/Freestayla 2/IMG_4366.JPG" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Freestayla 2/IMG_4368.JPG" alt="">
					</figure>
					<!--<figure>
						<img class="fotos_banda" data-src="../static/image/Freestayla 2/IMG_4369.JPG" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Freestayla 2/IMG_4372.JPG" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Freestayla 2/IMG_4373.JPG" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Freestayla 2/portada.jpg" alt="">
					</figure>-->
				</div>
				<h1 class="titulo">Diva Gash</h1>
				<div class="container_img">
					<figure>
						<img class="fotos_banda" data-src="../static/image/Divagash 3/33199626974_ed86ec6fd2_o.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Divagash 3/33657510990_416f696649_o.jpg" alt="">
					</figure>
					<!--<figure>
						<img class="fotos_banda" data-src="../static/image/Divagash 3/33657512100_76039103ab_o.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Divagash 3/33657513060_c37bc1c12f_o.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Divagash 3/33657514790_5f15a5ddb5_o.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Divagash 3/33657516850_02484f3353_o.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Divagash 3/33657517630_7e6ee92d98_o.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Divagash 3/33657518380_e91acd8384_o.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Divagash 3/33885238462_abcfe78065_o.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Divagash 3/IMG_3886.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Divagash 3/IMG_3891.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Divagash 3/IMG_3910.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Divagash 3/IMG_3914.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Divagash 3/IMG_3921.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Divagash 3/IMG_3949.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Divagash 3/IMG_3950.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Divagash 3/IMG_3952.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Divagash 3/IMG_3981.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Divagash 3/IMG_3984.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Divagash 3/IMG_4007.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Divagash 3/portada.jpg" alt="">
					</figure>-->
				</div>
				<h1 class="titulo">Beat Glider</h1>
				<div class="container_img">
					<figure>
						<img class="fotos_banda" data-src="../static/image/Beat Glider 4/Band-1.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Beat Glider 4/Band-12.jpg" alt="">
					</figure>
					<!--<figure>
						<img class="fotos_banda" data-src="../static/image/Beat Glider 4/Band-13.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Beat Glider 4/Band-15.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Beat Glider 4/Band-19.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Beat Glider 4/Band-2.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Beat Glider 4/Band-3.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Beat Glider 4/Band-4.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Beat Glider 4/Band-8.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Beat Glider 4/Beat Glider-14.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Beat Glider 4/Beat Glider-16.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Beat Glider 4/Beat Glider-17.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Beat Glider 4/Beat Glider-18.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Beat Glider 4/Beat Glider-19.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Beat Glider 4/Beat Glider-23.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Beat Glider 4/Beat Glider-24.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Beat Glider 4/Beat Glider-26.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Beat Glider 4/Beat Glider-29.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Beat Glider 4/Beat Glider-30.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Beat Glider 4/Beat Glider-4.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Beat Glider 4/Beat Glider-5.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Beat Glider 4/Beat Glider-6.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Beat Glider 4/Beat Glider-7.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Beat Glider 4/Beat Glider-8.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Beat Glider 4/Beat Glider-9.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Beat Glider 4/BG_playstore2.png" lt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Beat Glider 4/BG_portrait2.png" alt="">
					</figure>-->
				</div>
				<h1 class="titulo">Flaming Skull</h1>
				<div class="container_img">
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/Alejandro III-1.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/Alejandro y Fernando-1.jpg" alt="">
					</figure>
					<!--<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/Andres Drums III-1.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/Andrse-1.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/Bass Flaming Skull-1.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/Bosque II-1.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/Bosque V-1.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/Con los Flaming Skull-2.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/Flaming Skull Band-1.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/Flaming Skull-1.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/Flaming Skull-10.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/Flaming Skull-11.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/Flaming Skull-12.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/Flaming Skull-13.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/Flaming Skull-23.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/Flaming Skull-25.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/Flaming Skull-26.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/Flaming Skull-3.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/Flaming Skull-30.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/Flaming Skull-31.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/Flaming Skull-35.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/Flaming Skull-36.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/Flaming Skull-36.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/Flaming Skull-37.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/Flaming Skull-38.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/Flaming Skull-39.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/Flaming Skull-40.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/Flaming Skull-41.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/Flaming Skull-42.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/Flaming Skull-43.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/Flaming Skull-47.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/Flaming Skull-49.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/FS BASS 3-1.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/FS BASS sin filtro-1.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/FS Guitar A 2-1.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/FS Guitar A 3-1.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/FS Guitar L 3-1.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/FS Guitar L-1.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/Guitar L-1.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/Juan Carlos-1.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/Luis Fernando II-1.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/Luis Fernando-1.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/portada.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Flaming Skull/Tomnk-1.jpg" alt="">
					</figure>-->					
				</div>
				<h1 class="titulo">VNY</h1>
				<div class="container_img">
					<figure>
						<img class="fotos_banda" data-src="../static/image/VNY (djs)/IMG_1645.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/VNY (djs)/portada.jpg" alt="">
					</figure>
					<!--<figure>
						<img class="fotos_banda" data-src="../static/image/VNY (djs)/VNY III-1.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/VNY (djs)/VNY IV-1.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/VNY (djs)/VNY IX-1.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/VNY (djs)/VNY VI-1.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/VNY (djs)/VNY VII-1.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/VNY (djs)/VNY VIII-1.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/VNY (djs)/VNY X-1.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/VNY (djs)/VNY-1.jpg" alt="">
					</figure>-->
				</div>
				<h1 class="titulo">Doga</h1>
				<div class="container_img">
					<figure>
						<img class="fotos_banda" data-src="../static/image/Doga/Cafe II-1.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Doga/Cafe-1.jpg" alt="">
					</figure>
					<!--<figure>
						<img class="fotos_banda" data-src="../static/image/Doga/Cafetera Doga-1.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Doga/Doga cafe II-1.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Doga/Doga cafe-1.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Doga/DOGA I-1.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Doga/DOGA II-1.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Doga/Doga II.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Doga/DOGA III-1.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Doga/Doga III.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Doga/Doga V.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Doga/Doga VI.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Doga/Doga VII.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Doga/Doga VIII.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Doga/DOGA-1 2.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Doga/Doga-1.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Doga/Dogos II-1.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Doga/Dogos III-1.jpg" alt="">
					</figure>
					<figure>
						<img class="fotos_banda" data-src="../static/image/Doga/Dogos-1.jpg" alt="">
					</figure>-->
				</div> 
			</div>
	</section>
{% endblock content %}